
body {
  margin: 0; /* Sin márgenes para el body */
  padding: 0; /* Sin padding para el body */
  background: url('/public/fondo3.jpeg') no-repeat center center fixed;
  background-size: cover; /* Cubrir toda la página */
}

/* Estilo para el contenedor principal */
.main-content {
  padding-top: 110px; /* Ajusta este valor según la altura de tu barra de navegación */
  max-width: 1200px; /* Ancho máximo del contenedor principal */
  margin: 0 auto; /* Centrando el contenedor */
}

/* El contenedor para los cuatro recuadros */
.info-container {
  display: flex; /* Usar flexbox para alinear los elementos en una fila */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples filas */
  justify-content: space-around; /* Espaciado equitativo entre los recuadros */
  margin: 20px 0; /* Espaciado entre el contenedor y el resto del contenido */
}

/* Estilos para cada info-box */
.info-box {
  flex: 1 1 calc(45% - 20px); /* Permite que cada caja crezca y se encoja, mínimo 200px */
  margin: 10px; /* Espaciado entre cajas */
  padding: 15px; /* Espaciado interno */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
  color: #333; /* Color de texto */
  border-radius: 8px; /* Bordes redondeados */
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: transform 0.3s ease; /* Suavizar la animación del zoom */
}

 /* Efecto de zoom al pasar el mouse */
 .info-box:hover {
  transform: scale(1.05); /* Aumenta el tamaño un 5% */
}

/* Estilos para el título */
.inicio-titulo {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px 0; /* Reducido para quitar espacio extra */
  margin-top: 1cm; /* Espacio de 1 cm debajo del banner */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;/* Cambiar la tipografía */
  font-size: 50px; /* Tamaño de fuente del título */
}
@media (max-width: 768px) {
  .inicio-titulo {
    font-size: 30px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    padding-top: 150px; 
  }
}


/* Estilos para el lema */
.inicio-lema {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 5px 0; /* Reducido para ajustar el espacio */
  font-family: 'Georgia', serif; /* Cambiar la tipografía */
  font-size: 22px; /* Tamaño de fuente del lema */
}
@media (max-width: 768px) {
  .inicio-lema {
    font-size: 18px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
  }
}

/* Estilo para quitar viñetas de los objetivos y valores */
ul {
  list-style-type: none; /* Eliminar viñetas */
  padding-left: 0; /* Eliminar espacio a la izquierda */
}

