/* Reseteo de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del encabezado */
.banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.521);
  padding: 1rem;
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Logo */
.logo {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

.banner-title {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.banner-subtitle {
  font-size: 14px;
  color: white;
  font-weight: normal;
  margin: 0;
}

/* Navegación */
.menu {
  display: flex;
  margin-left: auto;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

/* Estilos del pie de página */
.pie-pagina {
  background-color: rgba(0, 0, 0, 0.521);
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 0.2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .banner {
    padding: 0.5rem;
    height: auto; /* Permite que el banner crezca si es necesario */
    flex-direction: column; /* Coloca el contenido del banner en columna para ahorrar espacio */
    align-items: center; /* Centra el contenido del banner */
    text-align: center; /* Centra el texto dentro del banner */
  }

  .logo {
    width: 50px;
    margin-bottom: 5px; /* Añade algo de espacio debajo del logo */
  }

  .banner-title {
    font-size: 16px; /* Reduce el tamaño del título */
  }

  .banner-subtitle {
    font-size: 12px; /* Reduce el tamaño del subtítulo */
  }

  .menu {
    flex-direction: row; /* Mantiene el menú en fila */
    margin-top: 10px; /* Añade algo de espacio entre el menú y el subtítulo */
  }

  .menu a {
    font-size: 14px;
    padding: 5px 8px;
  }
}

